* {
    color: rgb(61, 61, 61);
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    color: black;
}
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: black;
}
nav>a:hover {
    background-color: white;
}
.here{
    text-decoration: underline;
}
*{
    background-color: orange;
}
.above{
    border: 1px solid;
}
.below{
    color:black;
    font-size: 1.1em;
}