body {
    background-color: rgb(159, 173, 238);
}
h1 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    background-color: rgb(201, 97, 41);
    color: white;
    border: 1px solid;
    height: 30px;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

td {
    border: 1px solid;
    text-align: center;
}
img {
    width: 100%;
}
a{
    color: white;
}

p, ul, dl {
    border: 10px solid;
    border-color:rgb(201, 97, 41);
    background-color:rgb(201, 97, 41);
    color: white;
}

footer {
    bottom: 20px;
}